@model List<Car>;

@{
    var cars = Model;
}

<h4>list</h4>
<ul>
    @foreach (var car in cars)
    {
        <li>
            <h6>@car.Model From @car.Manufacturer</h6>
            <p>@(DateTime.Now.Year - car.FirstUseDate.Year) years of usage</p>
            @Html.Raw(car.HtmlDescription)
            <figure>
                <img src="https://www.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-nature-1725825019" alt="@car.Model From @car.Manufacturer" />
                <figcaption>@car.Model From @car.Manufacturer</figcaption>
            </figure>
            <a href="/cars/GetDetails?carModel=@car.Model& Source=list">Details</a>
        </li>
    }
</ul>



@{
    void RenderTableBody()
    {
        <tr>
            <th>Name</th>
            <th>Usage Duration</th>
            <th>Description</th>
            <th>Figure</th>
            <th>Details</th>

        </tr>
        @for (var car=0; car<cars.Count; car++)
        {
            <tr>
                <td><h6>@cars[car].Model From @cars[car].Manufacturer</h6></td>
                <td><p>@(DateTime.Now.Year - cars[car].FirstUseDate.Year) years</p></td>
                <td>@Html.Raw(cars[car].HtmlDescription)</td>
                <td>
                    <figure>
                        <img src="https://www.shutterstock.com/image-photo/mountains-under-mist-morning-amazing-nature-1725825019" alt="@cars[car].Model From @cars[car].Manufacturer" />
                        <figcaption>@cars[car].Model From @cars[car].Manufacturer</figcaption>
                    </figure>
                </td>
                <td><a href="/cars/GetDetails?carModel=@cars[car].Model& Source=table">Details</a></td>
            </tr>
        }
    }
}

<h4>Table</h4>
<table class="table-1">
    @{
        RenderTableBody();
    }
</table>
